$primary: #006699;

h2 {
	color: $primary;
}

.completed{
	text-decoration:line-through
}

.hidden {
	display: none;
}

.boxDesign{
	border: 1px solid red;
	padding: 10px;
	margin: 40px 20px;
}

.questionSelected{
	background: aquamarine;
}