$primary: #006699;

h2 {
	color: $primary;
}

.completed{
	text-decoration:line-through
}

.hidden {
	display: none;
}

.boxDesign{
	border: 1px solid red;
	padding: 10px;
	margin: 40px 20px;
	cursor: pointer;
}

.questionSelected{
	border-radius: 10px;
	background: #BADA55;
	border: 1px dotted green;
}

.navbarSelected{
	border-radius: 10px;
	background: #BADA55;
	border: 1px dotted green;
}